<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="px-4 py-2 min-h-screen flex flex-col bg-slate-50">
    <header>
        <nav class="flex items-center justify-between gap-2  border-b border-gray-200 py-3">
                <a class="font-light text-2xl" href="/">fil<span class="font-bold">ecc</span></a>
                <a class="hover:text-blue-400 transition-all duration-500" href="/">home</a>
        </nav>
    </header>
    
