<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="px-4 py-2 min-h-screen flex flex-col bg-slate-50">
    <header>
        <nav class="flex items-center justify-end gap-2">
            <% links.map((link) => { %>
                <a class="hover:text-blue-400 transition-all duration-500 <% if(link.active) { %> text-blue-500 font-bold uppercase <% } else { %> font-light lowercase <% } %>" href="<%- link.href %>"><%- link.label %></a>
              <% }); %>
        </nav>
    </header>
    
