<%- include('./partials/headNoNav') %>
<main class="flex-1 grid place-items-center">
   <div class="text-center flex flex-col gap-2">
    <h2 class="text-4xl font-regular">You seem lost.</h2>
    
    <a href="/">Go back home</a>
   </div>
   
    
</main>
<%- include('./partials/footer')%>