<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Benvenuto {{ admin }}</h1>
        <div style="display: flex; gap: .4rem; align-items: center;" >
            <a href="/posts/new">Nuovo Post</a>
            <a href="/">Homepage</a>
            <a href="/logout">Logout</a>
        </div>
       
       
    </header>
    <main>
        <h2>Ecco i tuoi post</h2>
        <div>
            <ul>
                {{ postList }}
            </ul>
        </div>
    </main>
   
</body>
</html>