<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il mio blog</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <p style="font-weight: bold;">Il mio blog</p> 
        <div style="display: flex; align-items: center; gap: .5rem">
            <a href="/posts">Tutti i post</a> 
            {menuItem1}
            {menuItem2}
            {menuItem3}
        </div>
        
    </header>
    <main>
        <h1>Benvenuto nel mio blog</h1>
    </main>
</body>
</html>