<%- include('./partials/head'), {user: user, links: links} %>
<main class="flex-1">
    <section class="min-h-[400px] grid place-items-center">
        <h1 class="text-2xl font-bold">Welcome to my express blog</h1>
    </section>
</main>
<%- include('./partials/footer')%>