<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Inserisci le tue credenziali</h1>
    <form action="/api/login" method="POST">
        <input type="text" name="username" autocomplete="off">
        <br>
        <br>
        <input type="password" name="password" autocomplete="off">
        <br>
        <br>
        <button type="submit">Accedi</button>
    </form>
    
</body>
</html>